name: test

on:
  push:

jobs:
  test:
    name: test
    environment: develop
    # environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: test
        if: contains(fromJSON('["main", "develop"]'), github.ref_name) != true
        run: echo ${{ vars.AWS_VAL }}
