name: test

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: test
    # environment: develop
    # environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: echo ${{github.ref_name}}
      - run: echo ${GITHUB_HEAD_REF#refs/heads/}
      - run: echo ${GITHUB_HEAD_REF}
      - run: echo ${GITHUB_REF#refs/heads/}
      - run: echo ${GITHUB_REF}
      - run: git br --show-current
      - run: git checkout ${GITHUB_HEAD_REF#refs/heads/}
      - run: git br --show-current
      - run: git checkout ${GITHUB_REF#refs/heads/}
      - run: git br --show-current
# ---
# name: test2

# on:
#   push:

# jobs:
#   test:
#     name: test
#     runs-on: ubuntu-latest
#     steps:
#       - name: test
#         run: echo "ok"
