name: test

on:
  pull_request:

jobs:
  test:
    name: test
    # environment: develop
    # environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pwd
      - run: ls
      - run: echo "hoge"
# ---
# name: test2

# on:
#   push:

# jobs:
#   test:
#     name: test
#     runs-on: ubuntu-latest
#     steps:
#       - name: test
#         run: echo "ok"
