name: test

on:
  push:

jobs:
  test:
    name: test
    environment: develop
    # environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: test
        if: github.ref_name == main
        run: echo ${{ vars.AWS_VAL }}
