name: test

on:
  push:

jobs:
  test:
    name: test
    environment: production
    runs-on: ubuntu-latest
    steps:
      - name: test
        # if: github.ref_name != main
        run: echo ${{ secrets.AWS_KEY }}
