name: test

on:
  push:
    branches:
      - '!main'
      - '!develop'

jobs:
  test:
    name: test
    environment: develop
    # environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    steps:
      - name: test
        run: echo ${{ vars.AWS_VAL }}
# ---
# name: test2

# on:
#   push:

# jobs:
#   test:
#     name: test
#     runs-on: ubuntu-latest
#     steps:
#       - name: test
#         run: echo "ok"
